{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href='{% static "/css/style.css" %}'>
    <title>Главная</title>
</head>
<body>
    <header class="navbar navbar-dark sticky-top flex-md-nowrap p-0 shadow">
        <span style="text-align: left; vertical-align: middle; padding-left: 10px;"><img style="padding-right: 10px;" src='{% static "icons/ptz-logo.png"%}'>АО «Петербургский тракторный завод»</span>
            <button class="navbar-toggler position-absolute d-md-none" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="true" aria-label="Открыть меню">
                <img style="padding-right: 24px;" src='{% static "icons/menu_open.svg"%}'>
            </button>
        <div class="navbar-nav">
            <div class="nav-item text-nowrap">
                <a class="nav-link" style="vertical-align: middle;" href="/login">NEAD\PTZ<img style="padding-right: 32px; padding-left: 12px;" src='{% static "icons/logout.svg"%}'></a>
            </div>
        </div>
    </header>
    
    <div class="row">
      <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block sidebar collapse">
        <div class="position-sticky">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active" style="color:white;" aria-current="page" href="/">
                <img style="padding-right: 24px;" src='{% static "icons/home.svg" %}'>
                Главная
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" style="color:white;" href="#">
                <img style="padding-right: 24px;" src='{% static "icons/scoreboard.svg"%}'>
                Табло ГТК
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" style="color:white;" href="/not_allowed">
                <img style="padding-right: 24px;" src='{% static "icons/events.svg"%}'>
                Такты
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" style="color:white;" href="/monitoring">
                <img style="padding-right: 24px;" src='{% static "icons/monitoring.svg"%}'>
                Мониторинг
              </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="color:white;" href="/not_allowed">
                    <img style="padding-right: 24px;" src='{% static "icons/displays.svg"%}'>
                    Экраны
                 </a>
            </li>
            <li class="nav-item">
                <div class="d-grid gap-2 btn-group dropend">
                    <button type="button" class="btn btn-secondary shadow-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        <img style="padding-right: 24px;" src='{% static "icons/planning.svg"%}'>
                        Планы
                    </button>
                    <div class="dropdown-menu">
                        <span class="dropdown-item"><b>Дорожно-строительная техника</b></span>
                        <a class="dropdown-item" href="#">Годовой план</a>
                        <a class="dropdown-item" href="#">Месячный план</a>
                        <a class="dropdown-item" href="#">Ежедневные планы</a>
                        <hr class="dropdown-divider">
                        <a class="dropdown-item"><b>Сельскохозяйственная техника</b></a>
                        <a class="dropdown-item" href="#">Годовой план</a>
                        <a class="dropdown-item" href="#">Месячный план</a>
                        <a class="dropdown-item" href="#">Ежедневные планы</a>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <div class="d-grid gap-2 btn-group dropend">
                    <button type="button" class="btn btn-secondary shadow-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        <img style="padding-right: 24px;" style="vertical-align:middle" src='{% static "icons/reports.svg"%}'>
                        Отчеты
                    </button>
                    <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Происшествия</a>
                            <a class="dropdown-item" href="#">Время работы</a>
                            <a class="dropdown-item" href="#">Список тактов</a>
                            <a class="dropdown-item" href="#">Активность пользователей</a>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <div class="d-grid gap-2 btn-group dropend">
                    <button type="button" class="btn btn-secondary shadow-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        <img style="padding-right: 24px;" src='{% static "icons/admin.svg"%}'>
                        Управление
                    </button>
                    <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Настройки</a>
                            <a class="dropdown-item" href="#">Типы происшествий</a>
                            <a class="dropdown-item" href="#">Управление доступом</a>
                            <a class="dropdown-item" href="#">События конвейера</a>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <div class="d-grid gap-2 btn-group dropend">
                    <button type="button" class="btn btn-secondary shadow-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        <img style="padding-right: 24px;" src='{% static "icons/settings.svg"%}'>
                        Система
                    </button>
                    <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Настройки</a>
                            <a class="dropdown-item" href="#">Кнопки и посты</a>
                            <a class="dropdown-item" href="#">Контроллеры экранов</a>
                            <a class="dropdown-item" href="#">Переменные табло</a>
                            <a class="dropdown-item" href="#">Состояния конвейера</a>
                            <a class="dropdown-item" href="#">Типы техники</a>
                            <a class="dropdown-item" href="#">О системе</a>
                    </div>
                </div>
            </li>
          </ul>
        </div>
    </nav>
    
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
      <h1>Табло ГТК</h1>

      <style>
        table {
          border-collapse: collapse;
          text-align: center;
        }
        table td,
        table th {
          border: 4px solid var(--light-grey);
        }
        table tr:first-child th {
          border-top: 0;
        }
        table tr:last-child td {
          border-bottom: 0;
        }
        table tr td:first-child,
        table tr th:first-child {
          border-left: 0;
        }
        table tr td:last-child,
        table tr th:last-child {
          border-right: 0;
        }
      </style>

 <table class="table table-sm table-borderless">
  <table class="table table-striped table-sm table-border">
      <thead>
            <tr>
              <th class="text-center" style="width: 25%; border: none; background-color: white;">
                Дата
              </th>
              <th class="text-center" style="width: 25%; border: none; background-color: white;">
                Время
              </th>
              <th class="text-center" style="width: 25%; border: none; background-color: white;">
                Время такта
              </th>
              <th class="text-center" style="width: 25%; border: none; background-color: white;">
                Оставшееся время такта
              </th>

            </tr>
          </thead>
          <tbody>
            <tr>
              <td style="text-align: center; border: none; background-color: white; border-top: hidden;">22.10.2021</td>
              <td style="text-align: center; border: none; background-color: white; border-top: hidden;">14:03:21</td>
              <td style="text-align: center; border: none; background-color: white; border-top: hidden;">0:40:00</td>
              <td style="text-align: center; border: none; background-color: white; border-top: hidden;">3:17:43</td>
            </tr>
            </tbody>
            </table>
  </table>
          

  <br>

  <div class="table-responsive">
  <table class="table table-striped table-sm table-bordered">
      <thead>
            <tr>
              <th></th>
              <th class="text-center" style="width: 25%">
                Год
              </th>
              <th class="text-center" style="width: 25%">
                Месяц
              </th>
              <th class="text-center" style="width: 25%">
                День
              </th>

            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row" style="text-align: right; background: white; border: none; border-top: hidden;">План</th>
              <td style="text-align: center;">3428 / 2392</td>
              <td style="text-align: center;">201 / 96</td>
              <td style="text-align: center;">10 / 6</td>
            </tr>
            <tr>
              <th scope="row" style="text-align: right; background: white; border: none"">Факт</th>
              <td style="text-align: center;">1860</td>
              <td style="text-align: center;">3</td>
              <td style="text-align: center;">0</td>
            </tr>
            <tr>
              <th scope="row" style="text-align: right; background: white; border: none"">Отклонение</th>
              <td style="text-align: center; color: var(--red)"><b>-531</b></td>
              <td style="text-align: center; color: var(--red)"><b>-9</b></td>
              <td style="text-align: center; color: var(--red)"><b>-6</b></td>
            </tr>
          </tbody>
        </table>
    
    <br>
    <table class="table" style="background-color: none; font-size: 18px">
      <td style="width: 3%; vertical-align: middle; border: none;"><img src="icons/arrow_forward.svg"></td>
      <td style="border: none">
        <table class="table" style="background-color: var(--light-grey); font-size: 18px; ">
          <tr>
            <td style="width: 1%;"></td>
            <td style="width: 7%;">0</td>
            <td style="width: 7%">1</td>
            <td style="width: 7%">2</td>
            <td style="width: 7%">3</td>
            <td style="width: 7%">4</td>
            <td style="width: 7%">5</td>
            <td style="width: 7%">6</td>
            <td style="width: 7%">7</td>
            <td style="width: 7%">8</td>
            <td style="width: 7%">9</td>
            <td style="width: 7%">10</td>
            <td style="width: 7%">11</td>
            <td style="width: 7%">12</td>
            <td style="width: 7%">13</td>
            <td style="width: 1%;"></td>
          </tr>
          <tr style="background-color: var(--green)">
            <td style="padding-bottom: 6.3%; height: 0; background-color: var(--light-grey);"></td>
            <td style="width: 7%;"> </td>
            <td></td>
            <td></td>
            <td style="background-color: var(--yellow)"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="background-color: var(--yellow)"></td>
            <td></td>
            <td style="width: 1%; background-color: var(--light-grey);"></td>
          </tr>
          <tr style="background-color: var(--green)">
            <td style="padding-bottom: 6.3%; height: 0; background-color: var(--light-grey);"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="width: 1%; background-color: var(--light-grey);"></td>
          </tr>
          <tr>
            <td style="width: 1%; background-color: var(--light-grey);"></td>
            <td>0</td>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
            <td>6</td>
            <td>7</td>
            <td>8</td>
            <td>9</td>
            <td>10</td>
            <td>11</td>
            <td>12</td>
            <td>13</td>
            <td style="width: 1%; background-color: var(--light-grey);"></td>


          </tr>
      </table>
      
      </td>
      <td style="width: 3%; vertical-align: middle; border: none"><img src="icons/arrow_forward.svg"></td>
    </tr>
    <td style="border: none;"></td>
    <td style="border: none; text-align: left;" class="img-responsive">Состояние конвейера: <b>конвейер остановлен</b> <img align="right" src="icons/sensors.svg"></td>
   
  </table>

    

    </main>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>