.App-header {
    height: 50px;
    background-color: #C92A2D;
    color: #ffffff;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px
  }

.App-navbar {
    text-align: left; 
    vertical-align: middle; 
    padding-left: 10px;
    position: fixed;
    padding-top: 3px;
    box-shadow: #2D333C
  }

.App-logout {
    text-align: left; 
    vertical-align: middle; 
    position: fixed;
    padding-top: 3px;
    box-shadow: #2D333C;
    font-family: Roboto;
  }

.App-logo {
    align-items: left;
    padding-right: 10px 
  }
  
@font-face {
    font-family: Roboto; 
    src: url("../static/fonts/Roboto-Light.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
    }  