
.container-filter {
    display: flex;
    flex-direction: row;
    /* position: fixed; */
}

.form-container {
    display: flex;
    flex-direction: row;
}

.dropdown-container {
    margin-left: 1%;
}

.container-filter label {
    font-size: 0.9rem;
}

.sort-container:nth-child(1) {
    display: flex;
    /* border: 0!important; */
    flex-direction: row;
}

.sort-container > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.filter-date-picker {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 100%;
}

.filter-date-picker > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
}

.filter-date-picker > div > div {
    padding-right: 10%;
}

.filter-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* margin: 4% */
}

.filter-icons > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Table-Accidents {
    table-layout: fixed;
    width: 100%;
}



.Table-Accidents > thead > tr > th:last-child {
    padding-left: 20px;
    padding-right: 20px;
    max-width: 8%;
    width: 8%;
    /* padding: 1%!important; */
}
.Table-Accidents > thead > tr > th:nth-child(2) {
    padding-left: 20px;
    padding-right: 20px;
}

.filter-icons__elem {
    cursor: pointer;
}