.App-Conveyor {
    width: 100%;
    line-height: 50px;
    border-collapse: collapse;
    text-align: center;
    padding-left: 32px;
    padding-right: 32px;
    vertical-align: middle;
    font-family: Roboto;
}
.error {
    background-color: red;
    cursor: pointer;
}
.active {
    background-color: yellow;
}
.success {
    background-color: green;
}