.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
  }

.form-signin {
  font-weight: 400;
  }

.checkbox {
  font-weight: 400;
  }

.form-signin {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
  }

.form-control {
  width: 300px;
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
  }

.form-signin {
  z-index: 2;
  }

.form-control:focus {
  z-index: 2;
  }

@font-face {
  font-family: Roboto; 
  src: url("../static/fonts/Roboto-Light.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: normal; 
  }